<ul class="checkul">
  <li class="checkli"><ejs-checkbox label="Default"></ejs-checkbox></li>
  <li class="checkli"><ejs-checkbox label="Default"></ejs-checkbox></li>
  <li class="checkli"><ejs-checkbox label="Default"></ejs-checkbox></li>
</ul>
<ejs-treegrid  [dataSource]='data' height='500' [treeColumnIndex]='1' childMapping='subtasks' allowSorting='true' allowFiltering='true' [pageSettings]='pageSettings' [filterSettings]='filterSettings' [editSettings]='editSettings' [toolbar]='toolbar' [allowRowDragAndDrop]='true' [selectionSettings]='selectOptions' [showColumnChooser]='true'  [frozenRows]='3'>
  <e-columns>
      <e-column field='taskID' headerText='Task ID' textAlign='Right' width='40' isPrimaryKey='true' [validationRules]='orderidrules'></e-column>
      <e-column field='taskName' headerText='Task Name' textAlign='Left' width='200' [validationRules]='customeridrules'></e-column>
      <e-column field='startDate' headerText='Start Date' textAlign='Right' format='yMd' width='90' editType='datepickeredit' format='yMd'></e-column>
      <e-column field='duration' headerText='Duration' textAlign='Right' width='80'></e-column>
  </e-columns>
</ejs-treegrid>

